body {
margin: 0;
}

h1, h2 {
    font-family: 'Cormorant SC', serif;
    margin: 0 auto;
}

p {
    font-family: 'Lato', sans-serif;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}





/* Navigation bar */

#nav-bar-header {
    background-color: #3b3530;
    height: 3em;
    display: grid;
    grid-template-columns: repeat(24, 1fr); 
}

.nav-grid {
    list-style: none;
    display: contents;
    margin: 0; 
    padding: 0; 
}

.grid-item {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.search-icon {
    grid-column: 17; 
}

.search-bar {
    grid-column: 18 / span 4; 
}

.search-bar input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #7a726b; 
    color: #333;
}

.search-bar input:focus {
    background-color: white; 
    outline: none; 
}





/* Logo Navigation Bar */


.main-logo {
    height: 10em;
}

.logo-bar-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 100%;
    padding: 0;
}

.header-nav-links {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header-nav-links a {
    display: inline-block;
    padding: 10px 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
    font-size: 1.5em;
}

.header-nav-links a:hover {
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}

/* Header And Main Page */



